/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common CSS */
body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;
}
.main, .latest-courses {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container{
  width: 1170px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 25px 0px #ddd;
}
.header-title {
  color: #562EFF;
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 10px;
}

/***************
Main Menu 
****************/

.mainmenu{
background-color: #562EFF ;
min-height: 94px;
display: flex;
}
.menu {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.logo-area img{
  width: 40px;
  height: 50px;
}
.logo-area{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-area span{
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-left: 5px;
}

.menu-item{
display: flex;
align-items: center;
cursor: pointer;
}
.menu-item a{
  font-size: 16px;
  color: white;
  font-weight: 100;
  margin-right: 35px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 0 5px;

}
.menu-item a:hover{
 border-bottom: 2px solid #fff;
 padding: 0 5px 7px 5px;
 transition: .5s;
}


/***************
Header Top CSS
****************/
.header {
  padding-bottom: 50px;
}
.header-top{

}
.players-list{
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: space-evenly;
grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
  padding-left: 35px;
}
.player-img img{
  width: 56px;
}
.player-img img:hover{
  transform: scale(1.5);
  transition: transform .5s ease-out;
  padding-right: 10px;
}
.player-name {
  padding-left: 15px;
}
.player-name:hover {
  cursor: pointer;
  color: #562EFF;
}
.horizontal{
  border-bottom: 2px solid #ddd;
  margin: 35px;
}

/* Top Blogs CSS */

.blogs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 40px;
}
.blog {
  display: flex;
  margin-left: 35px;
  box-shadow: 4px 7px 47px -4px #ddd;
  margin-right: 35px;
  padding: 15px 10px;
  border-radius: 12px;
}
.blog:hover {
  box-shadow: 8px 10px 52px 2px #ddd;
  transform: scale(1.05);
  transition: transform .5s ease-out;
}
.blog-img img{
  width:224px ;
}
.blog-title {
  font-size: 20px;
  width: 240px;
  padding-left: 30px;
  color: #333365;
}
.blog-title h3:hover{
  color: #562EFF;
  cursor: pointer;
}
.blog-title p {
  font-size: 13px;
}
.blog-title a {
  text-decoration: none;
  color: #562EFF;
}

/* Latest Course CSS */

.course-item {
  box-shadow: 3px 3px 25px 0px #ddd;
  padding: 10px;
  border-radius: 16px;
}
.course-item:hover {
  transform: scale(1.05);
  transition: transform .5s ease-out;
  cursor: pointer;
}
.course-item img {
  width: 320px;
}
.course-item h3 {
  font-size: 20px;
  width: 243px;
  margin-bottom: 0;
}
.course-item h3:hover {
  color: #562EFF;
}
.course-item p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #ED6B4F;
  padding: 0;
  margin-top: 5px;
}
.ratting-area{
display: flex;
}
.filled{
color: #FFC014;
}
.empty{
  color:#AEAEAE;
  ;
}
.ratting-area span{
color: #A2A2A2;
padding: 0 15px;
}

/* Contact Us CSS */

.contact-us {

}
.contact {
  display: flex;
  text-align: center;
  padding: 70px 0px;
}
.contact p, h3{
  font-family: Roboto;
  color: #6e6969;
  line-height: 30px;
}
.contact-icon{
  color: #562EFF;
  font-size: 50px;
}
.sales, .support {
  box-shadow: 3px 3px 25px 0px #ddd;
  margin: 10px 40px;
  padding: 30px;
  border-radius: 5px;
}
.sales:hover, .support:hover {
  transform: scale(1.05);
  transition: transform .5s ease-out;
  cursor: pointer;
}
.support button {
  background: #562EFF;
  color: #fff;
  padding: 10px 20px;
  margin-top: 35px;
  border: none;
  border-radius: 0px 30px;
  cursor: pointer;
}
.support button:hover {
  border-radius: 30px 0px;
  transition: .5s ease-out;
}
.contact-link{
  color: #7dc6d1;
  display: block;
}
.contact-link:hover{
  font-weight: bold;
}

/**********************
 Media Queries 
 **********************/
 
 /* Mobile Devices */
@media only screen and (max-width:688px){
  .container{
    width: 100%;
  }
  .header-title {
    text-align: center;
    font-size: 40px;
    padding-left: 0;
    border-bottom: 4px solid;
    margin: 50px 178px;
    border-radius: 40px 40px;
}
  .player {
    flex-direction: column;
    padding-left: 0;
}
.player-name {
  font-size: 20px;
}
  .players-list{
    grid-template-columns: repeat(2, 1fr);
  }
  .horizontal {
  border-bottom: 0;

}

.blogs {
  grid-template-columns: repeat(1, 1fr);
}

.main, .latest-courses {
  display: grid;
  justify-content: space-evenly;
  margin: 40px;
}
element.style {
  font-size: 40px;
  padding-bottom: 17px;
  margin: 50px 140px;
}
.course-item {
  margin: 40px 0;
  padding: 30px;
}
.course-item img {
  width: 100%;
}
.contact {
  flex-direction: column;
  padding: 20px 0px;
}
.sales, .support {
  margin: 40px 40px;
}
